sup
{
    float:right;
}

body
{
    text-align: justify;
}

h1, h2, h3, h4, h5, h6
{
    text-align: left;
}

.padre 
{
    display: flex;
    flex-wrap: wrap;
}

.col_izqda 
{
    display: flex;
    /*flex: 200px;*/
}

.col_dcha 
{
    display: flex;
    /*flex: 300px;*/
}